# Lab | SQL Queries 5

In this lab, you will be using the [Sakila](https://dev.mysql.com/doc/sakila/en/) database of movie rentals. You have been using this database for a couple labs already, but if you need to get the data again, refer to the official [installation link](https://dev.mysql.com/doc/sakila/en/sakila-installation.html).

The database is structured as follows:
![DB schema](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/database-sakila-schema.png)

<br><br>

In [2]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input

password = getpass.getpass()
connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
engine = create_engine(connection_string)
%load_ext sql
%sql {connection_string}

 ·············

'Connected: root@bank'

1. Drop column `picture` from `staff`.

In [3]:
%%sql 
alter table skila.staff drop column picture;

 * mysql+pymysql://root:***@localhost/bank
(pymysql.err.OperationalError) (1049, "Unknown database 'skila'")
[SQL: alter table skila.staff drop column picture;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

2. A new person is hired to help Jon. Her name is TAMMY SANDERS, and she is a customer. Update the database accordingly.

In [4]:
%%sql
select * from skila.customer
where first_name = 'TAMMY' and last_name = 'SANDERS';

insert into skila.staff(first_name, last_name, email, address_id, store_id, username)
values('TAMMY','SANDERS', 'TAMMY.SANDERS@sakilacustomer.org', 79, 2, 'tammy');

 * mysql+pymysql://root:***@localhost/bank
(pymysql.err.OperationalError) (1049, "Unknown database 'skila'")
[SQL: select * from skila.customer
where first_name = 'TAMMY' and last_name = 'SANDERS';]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

3. Add rental for movie "Academy Dinosaur" by Charlotte Hunter from Mike Hillyer at Store 1. You can use current date for the `rental_date` column in the `rental` table.

   **Hint**: Check the columns in the table rental and see what information you would need to add there. You can query those pieces of information. For eg., you would notice that you need `customer_id` information as well. To get that you can use the following query:

    ```sql
    select customer_id from sakila.customer
    where first_name = 'CHARLOTTE' and last_name = 'HUNTER';
    ```
    
    Use similar method to get `inventory_id`, `film_id`, and `staff_id`.

In [7]:
%%sql

select customer_id from sakila.customer where first_name = 'CHARLOTTE' and last_name = 'HUNTER';

select film_id from sakila.film where title = 'ACADEMY DINOSAUR';

select inventory_id from sakila.inventory where film_id = 1;

select * from sakila.staff;

insert into sakila.rental(rental_date, inventory_id, customer_id, staff_id)
values (curdate(), 1, 130, 1);

 * mysql+pymysql://root:***@localhost/bank
1 rows affected.
1 rows affected.
8 rows affected.
2 rows affected.
1 rows affected.

[]

4. Delete non-active users, but first, create a _backup table_ `deleted_users` to store `customer_id`, `email`, and the `date` for the users that would be deleted. Follow these steps:
   - Check if there are any non-active users
   - Create a table _backup table_ as suggested
   - Insert the non active users in the table _backup table_
   - Delete the non active users from the table _customer_

In [13]:
%%sql

select * from sakila.customer
where active = 0;

drop table if exists deleted_users;

CREATE TABLE deleted_users
(customer_id int UNIQUE NOT NULL,
email varchar(255) UNIQUE NOT NULL,
delete_date date)

insert into deleted_users
select customer_id, email, curdate()
from skila.customer
where active = 0;

select * from deleted_users;

delete from skila.customer where active = 0;

select * from skila.customer
where active = 0;

 * mysql+pymysql://root:***@localhost/bank
15 rows affected.
0 rows affected.
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'insert into deleted_users\nselect customer_id, email, curdate()\nfrom skila.custom' at line 5")
[SQL: CREATE TABLE deleted_users
(customer_id int UNIQUE NOT NULL,
email varchar(255) UNIQUE NOT NULL)

insert into deleted_users
select customer_id, email, curdate()
from skila.customer
where active = 0;]
(Background on this error at: https://sqlalche.me/e/14/f405)