# Lab | Customer Analysis Round 2

For this lab, we will be using the `marketing_customer_analysis.csv` file that you can find in the `files_for_lab` folder. Check out the `files_for_lab/about.md` to get more information if you are using the Online Excel.

**Note**: For the next labs we will be using the same data file. Please save the code, so that you can re-use it later in the labs following this lab.

### Dealing with the data

1. Show the dataframe shape.
2. Standardize header names.
3. Which columns are numerical?
4. Which columns are categorical?
5. Check and deal with `NaN` values.
6. Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. _Hint_: If data from March does not exist, consider only January and February.
7. BONUS: Put all the previously mentioned data transformations into a function.

In [41]:
import pandas as pd
import numpy as np

data = pd.read_csv('./files_for_lab/marketing_customer_analysis.csv')

1. Show the dataframe shape.

In [14]:
data.shape

(9134, 24)

2. Standardize header names.

In [20]:
print(data.columns)

print("\nColumn Names look OK")

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')

Column Names look OK

3. Which columns are numerical?

In [33]:
# Método "convencional"

numerical = []

for elem in data._get_numeric_data(): numerical.append(elem)

print("\nNumerical columns are:", numerical)

Numerical columns are: ['Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Months Since Last Claim', 'Months Since Policy Inception', 'Number of Open Complaints', 'Number of Policies', 'Total Claim Amount']

In [35]:
# Mediante list comprehension

numerical = [elem for elem in data._get_numeric_data()]

print("\nNumerical columns are:", numerical)

Numerical columns are: ['Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Months Since Last Claim', 'Months Since Policy Inception', 'Number of Open Complaints', 'Number of Policies', 'Total Claim Amount']

4. Which columns are categorical?

In [51]:
# Dado que todas están tipificadas como "object", busco las categóricas en aquellas que tengan n (10) o menos valores únicos.

categorical = []
for i in data.columns:   
    if len(pd.unique(data[i]))<=10:
        categorical.append(i)
print("Las columnas categóricas son: ", categorical)

Las columnas categóricas son:  ['State', 'Response', 'Coverage', 'Education', 'EmploymentStatus', 'Gender', 'Location Code', 'Marital Status', 'Number of Open Complaints', 'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type', 'Sales Channel', 'Vehicle Class', 'Vehicle Size']

5. Check and deal with `NaN` values.

In [ ]:
# There's no NaN values

6. Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. _Hint_: If data from March does not exist, consider only January and February.

In [ ]:
# Creo una nueva columna donde meot lo que había en la columna Effective To Date pero convertido a formato fecha
data['Months'] = pd.to_datetime(data['Effective To Date'])
# La modifico para quedarme únicamente con la información del mes
data['Months'] = data['Months'].dt.month

7. BONUS: Put all the previously mentioned data transformations into a function.

In [ ]:
def funcion(data):
    data['Months'] = pd.to_datetime(data['Effective To Date'])
    data['Months'] = data['Months'].dt.month
    return(data)