# Lab | SQL Queries 7

In this lab, you will be using the [Sakila](https://dev.mysql.com/doc/sakila/en/) database of movie rentals. You have been using this database for a couple labs already, but if you need to get the data again, refer to the official [installation link](https://dev.mysql.com/doc/sakila/en/sakila-installation.html).

The database is structured as follows:
![DB schema](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/database-sakila-schema.png)

### Instructions

1. In the table actor, which are the actors whose last names are not repeated? For example if you would sort the data in the table actor by last_name, you would see that there is Christian Arkoyd, Kirsten Arkoyd, and Debbie Arkoyd. These three actors have the same last name. So we do not want to include this last name in our output. Last name "Astaire" is present only one time with actor "Angelina Astaire", hence we would want this in our output list. 
2. Which last nameimport pymysql
3. Using the rental table, find out how many rentals were processed by each employee.
4. Using the film table, find out how many films were released each year.
5. Using the film table, find out for each rating how many films were there.
6. What is the mean length of the film for each rating type. Round off the average lengths to two decimal places 
7. Which kind of movies (rating) have a mean duration of more than two hours?

In [4]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input

password = getpass.getpass()
connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
engine = create_engine(connection_string)
%load_ext sql
%sql {connection_string}

 ·············

'Connected: root@bank'

##### 1. In the table actor, which are the actors whose last names are not repeated? For example if you would sort the data in the table actor by last_name, you would see that there is Christian Arkoyd, Kirsten Arkoyd, and Debbie Arkoyd. These three actors have the same last name. So we do not want to include this last name in our output. Last name "Astaire" is present only one time with actor "Angelina Astaire", hence we would want this in our output list.

In [12]:
%%sql only_one_time <<
select *, count(*) as number_of_times
from sakila.actor
group by last_name
having number_of_times < 2;

 * mysql+pymysql://root:***@localhost/bank
66 rows affected.
Returning data to local variable only_one_time

##### 2. Which last names appear more than once? We would use the same logic as in the previous question but this time we want to include the last names of the actors where the last name was present more than once

In [ ]:
%%sql more_than_one_time <<
select *, count(*) as number_of_times
from sakila.actor
group by last_name
having number_of_times > 1;

##### 3. Using the rental table, find out how many rentals were processed by each employee.

In [27]:
%%sql rentals_by_employees <<
select staff_id, count(distinct(rental_id)) as number_of_rentals
from sakila.rental
group by staff_id;

 * mysql+pymysql://root:***@localhost/bank
2 rows affected.
Returning data to local variable rentals_by_employees

##### 4. Using the film table, find out how many films were released each year.

In [62]:
%%sql films_by_year <<
select release_year, count(*) as n_of_films
from sakila.film
group by release_year;

 * mysql+pymysql://root:***@localhost/bank
1 rows affected.
Returning data to local variable films_by_year

##### 5. Using the film table, find out for each rating how many films were there.

In [65]:
%%sql rating <<
select rating, count(*)
from sakila.film
group by rating;

 * mysql+pymysql://root:***@localhost/bank
5 rows affected.
Returning data to local variable rating

##### 6. What is the mean length of the film for each rating type. Round off the average lengths to two decimal places

In [75]:
%%sql length_by_rate <<
select rating, avg(length)
from sakila.film
group by rating;

 * mysql+pymysql://root:***@localhost/bank
5 rows affected.
Returning data to local variable length_by_rate

##### 7. Which kind of movies (rating) have a mean duration of more than two hours?

In [71]:
%%sql more_than_2h <<
select rating, avg(length)
from sakila.film
group by rating
having avg(length)>120;

 * mysql+pymysql://root:***@localhost/bank
1 rows affected.
Returning data to local variable more_than_2h